{% extends 'BASAAA.html' %}

{% block title %}
Информация о нашем сайте
{% endblock %}

{% block body %}
      <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Название сайта: </h1>
        <h1 class="fw-light">Absolutely Everything</h1>
        <p class="lead text-muted">Онлайн склад различных товаров.</p>
          <p class="lead text-muted">Данный сайт предназначен для просмотра заказов в реальном времени.</p>
      </div>
    </div>
  </section>
</div>
{% endblock %}